.map-navbar {
  border-bottom: 2px solid #fff;
  margin-right: 0;
  margin-left: 0;
}
.map-navbar.map-navbar-black {
  border: none;
}

.top-navbar {
  margin: 0;
}

.map-background {
  padding: 30px;
  background-image: url("./../images/map.png");
  background-size: 1305px;
  background-repeat: no-repeat;
  background-position: right 30px;
  height: 900px;
  width: 100%;
}
.map-background .city-profile {
  width: 570px;
  height: 665px;
  border: 2px solid #fff;
  padding: 30px;
}
.map-background .city-top-bar {
  margin-bottom: 60px;
}
.map-background .type-city-input {
  width: 200px;
}
.map-background .view-city-profile {
  background-color: #DB04FF;
  color: #fff;
  font-weight: bolder;
  padding: 3px 10px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.1s;
}
.map-background .view-city-profile:hover {
  background-color: #44F300;
}
.map-background .view-city-profile a {
  color: #fff;
}
.map-background .city-header {
  color: #fff;
  font-size: 29px;
  border-bottom: 2px solid #fff;
}
.map-background .chart-wrap {
  margin: 28px 0 10px;
  padding-bottom: 20px;
}
.map-background .mini-chart {
  max-width: 100%;
}

.buttons-wrapper {
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
}
.buttons-wrapper .button {
  border: 1px solid #fff;
  width: 370px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  color: #44F300;
}
.buttons-wrapper .button:hover {
  background-color: #DB04FF;
  color: #fff;
}
.buttons-wrapper .active-button {
  color: #000;
  background: #44F300;
  border-color: #44F300;
}
.buttons-wrapper .active-button-white {
  background: #fff;
  border-color: #fff !important;
  cursor: pointer;
}
.buttons-wrapper.buttons-black .button {
  border-color: #000;
  color: #000;
}

.section-wrapper .wrapper-1 {
  display: inline-block;
  width: 50%;
  background: #44F300;
  float: left;
}
.section-wrapper .wrapper-2 {
  display: inline-block;
  width: 50%;
  background: #DB04FF;
  float: right;
}

.events-list-btn {
  display: inline-block;
  font-size: 29px;
  background: #fff;
  padding: 0px 10px;
}

.list-wrapper {
  margin: 50px 0 0 150px;
  overflow-y: scroll;
  height: 700px;
  position: relative;
}
.list-wrapper .list-item {
  height: 200px;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}
.list-wrapper .list-item:after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: 2px solid #000;
  position: absolute;
  bottom: -25px;
}
.list-wrapper .list-item.white:after {
  border-color: #fff;
}
.list-wrapper .list-img {
  width: 300px;
  height: 200px;
}

.view-details-btn, .sign-in-btn {
  background-color: #DB04FF;
  color: #fff;
  padding: 5px 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.wrapper-2 .list-wrapper {
  color: #fff;
}
.wrapper-2 .view-details-btn {
  background-color: #44F300;
  color: #000;
}

#popup-wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#event-popup, .event-popup {
  margin-top: 250px;
  width: 900px;
  height: 600px;
  background-color: #000;
  padding: 50px;
}
#event-popup .popup-map, .event-popup .popup-map {
  background: url("./../images/gogmapa.png") center center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.charts {
  width: 800px;
  margin: 50px;
}

.map-dot {
  background: #DB04FF;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 230px;
  right: 590px;
  border-radius: 50%;
}

/*# sourceMappingURL=map.css.map */
